body {
  padding: 5px;
}

.ion {
  padding: 5px;
  border: 1px solid orange;
  width: 180px;
}
.bar {
  border: 1px solid blue;
}

.table {
  border: 1px solid green;
  width: 180px;
}

.prodRow {
  border: 1px solid turquoise;
}
.row {
  border: 1px solid red;
}
